<div class="page">
  <div class="sign-in-card row fade-in">
    <div class="card-content request">
      <div class="header">
        <h1>Reset Your Password</h1>
      </div>
      <form [formGroup]="resetForm" *ngIf="status == 'pending'">
        <div class="input-group column">
          <label for="email">Email</label>
          <input type="text" id="email" formControlName="email" required/>
        </div>
        <div class="input-group column">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            required
            [ngClass]="{ error: passwordError }"
          />
        </div>
        <div class="input-group column">
          <label for="passwordConfirm">Confirm Password</label>
          <input
            type="password"
            id="passwordConfirm"
            formControlName="passwordConfirm"
            required
            [ngClass]="{ error: passwordError }"
          />
        </div>
        <p class="error" *ngIf="passwordError">Passwords do not match'</p>

        <button class="btn primary" (click)="resetPassword()">
          Reset My Password
        </button>
      </form>

      <div *ngIf="status == 'error'" class="fade-in">
        <p class="center-text">
          The attempt to reset a password with this link was not valid. Please
          request a new password reset link.
        </p>
      </div>
      <div *ngIf="status == 'success'" class="fade-in">
        <p class="center-text">Your password has been successfully reset.</p>
      </div>

      <div class="signup-link column">
        <a routerLink="/request-reset" *ngIf="status == 'error'"
        >Request New Password Reset Link.</a
        >
        <a routerLink="/login">{{
          status == "success"
            ? "Login with your new Password"
            : "Go Back to Login."
          }}</a>
      </div>
    </div>
    <div class="welcome-image login">
      <img
        class="img-hero"
        alt="vintage keys resting on a book"
        src="https://images.unsplash.com/photo-1578088085518-738839b57548?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      />
    </div>
  </div>
</div>
