:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.app {
  flex-grow: 3;
  padding: 0 16px;
  background-color: var(--background);
}


@media screen and (max-width: 860px) {
  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: unset;
  }
}
