<ng-container *ngIf="authenticated$ | async; else login">
  <div class="app">
    <p>
      <mat-toolbar color="primary">
        <a [routerLink]="['/']" ><span class="toolbar-title">Dashbaord der Lodge</span></a>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Lösen" (click)="navigateToGuess()">
          <mat-icon>key</mat-icon>
        </button>
        <span *ngIf="user$ | async as user">
          {{user.userName}}
        </span>
        <button mat-icon-button class="example-icon" aria-label="Abmelden" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>
    </p>
    <ng-template *ngTemplateOutlet="outlet"></ng-template>
  </div>
</ng-container>
<ng-template #login>
  <div class="row default" id="login">
    <div>
      <ng-template *ngTemplateOutlet="outlet"></ng-template>
    </div>
  </div>
</ng-template>
<ng-template #outlet>
  <router-outlet></router-outlet>
</ng-template>