<div class="page">
  <div class="sign-in-card row ">
    <div class="card-content">
      <div class="header">
        <h1>{{appName}} heißt dich Wolkommen</h1>
      </div>
      <form [formGroup]="login">
        <div class="input-group column">
          <label for="name">UserName</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            autocomplete="name"
            required
            [ngClass]="{ error: loginError }"
          />
        </div>
        <div class="input-group column">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            autocomplete="current-password"
            required
            [ngClass]="{ error: loginError }"
          />
        </div>
        <p class="error" *ngIf="loginError">
          {{ loginError }}
        </p>

        <button class="btn primary" (click)="attemptLogin()">Log In</button>
      </form>
    </div>
  </div>
  <div class="welcome-image fade-in">
    <img
      class="img-hero"
      alt="a lightbulb held by a person"
      src="{{ imageUrl }}"
    />
  </div>
</div>

