<div class="page">
  <mat-card class="sign-in-card">
    <mat-card-header>
      <h1>{{appName}} heißt dich Wilkommen</h1>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="login">
        <div class="input-group column">
          <label for="password">Benutzername</label>
          <mat-form-field appearance="fill">
            <input type="text" id="name" formControlName="name" autocomplete="name" required matInput>
          </mat-form-field>
        </div>
        <div class="input-group column">
          <label for="password">Passwort</label>
          <mat-form-field appearance="fill">
            <input type="password" id="password" formControlName="password" required matInput>
          </mat-form-field>
        </div>
        <p class="error" *ngIf="loginError">
          {{ loginError }}
        </p>
        <button mat-raised-button color="primary" (click)="attemptLogin()">Anmelden</button>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="welcome-image">
    <img class="img-hero" alt="a lightbulb held by a person" src="{{ imageUrl }}" />
  </div>
</div>