<div class="page">
  <div class="sign-in-card row ">
    <div class="card-content">
      <div class="header">
        <h1>{{appName}} heißt dich Wolkommen</h1>
      </div>
      <form [formGroup]="login">
        <div class="input-group column">
          <label for="password">Benutzername</label>
          <mat-form-field appearance="fill">
            <input type="text"
            id="name"
            formControlName="name"
            autocomplete="name"
            required
            matInput>
          </mat-form-field>
        </div>
        <div class="input-group column">
          <label for="password">Passwort</label>
          <mat-form-field appearance="fill">
            <input type="password"
            id="password"
            formControlName="password"
            required
            matInput>
          </mat-form-field>
        </div>
        <p class="error" *ngIf="loginError">
          {{ loginError }}
        </p>
        <button mat-raised-button color="primary" (click)="attemptLogin()">Anmelden</button>
      </form>
    </div>
  </div>
  <div class="welcome-image fade-in">
    <img
      class="img-hero"
      alt="a lightbulb held by a person"
      src="{{ imageUrl }}"
    />
  </div>
</div>

