<div class="nav fade-in" id="desktop-nav">
  <div class="content" id="all-users">
    <h1 id="logo-text">NestAng</h1>
    <a routerLink="/">Home</a>
    <a routerLink="/account">My Account</a>
  </div>

  <div class="content" id="admin" *ngIf="isAdmin">
    <h1 id="admin-header">Admin Menu</h1>
    <a routerLink="/organization/users" data-cy="com-users"><small>Organization</small><br/> Users</a>
    <a routerLink="/organization/account" data-cy="com-account"><small>Organization</small><br/> Account</a>
  </div>


  <div class="content" id="logout-desktop">
    <a (click)="logout()">Log Out ↦</a>
  </div>
</div>

<nav-bar-mobile id="mobile-nav"></nav-bar-mobile>
