.nav {
  background-color: #ffffff;
  min-width: 160px;
  width: 160px;
  min-height: 100%;
  z-index: 10;
  border-right: 1px solid var(--primary-superlight);

  .content {
    display: flex;
    flex-direction: column;
    padding: 16px 0;

    a {
      margin-bottom: 8px;
      color: #28293f;
      font-size: 1.25rem;
      cursor: pointer;
      padding: 8px 0 8px 12px;
    }

    a:hover {
      background-color: var(--primary-superlight);
      border-right: 2px solid var(--primary-color);
      text-decoration: none;
    }
  }
}

.acls {
  margin-bottom: 8px;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 8px 0 8px 12px;

  p:hover {
    background-color: var(--primary-superlight);
    border-right: 2px solid var(--primary-color);
    text-decoration: none;
  }
}

#logo-text {
  color: var(--primary-color);
  font-weight: 300;
  animation: none;
  padding-left: 12px;
  margin-top: 6px;
}

  #admin-header {
    margin-top: 0;
    padding-left: 12px;
    color: var(--primary-color);
    font-size: 1.3rem;
    animation: none;
  }

#mobile-nav {
  display: none;
}

@media screen and (max-width: 860px) {
  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: unset;
  }
}

