<div class="nav fade-in row">
  <button class="nav-btn" (click)="openMenu()">
    {{ menuOpen ? "Close" : "Menu" }}
  </button>
  <button class="nav-btn" (click)="logout()">Log Out</button>
</div>

<div class="overlay slide-up" *ngIf="menuOpen">
  <ng-container>
    <div class="content" id="resident">
      <h1 id="logo-text">NestAng</h1>

      <a (click)="navigate('/')">Home</a>
      <a (click)="navigate('/account')">My Account</a>
    </div>

    <div class="content" id="admin" *ngIf="isAdmin$ | async">
      <h1 id="admin-header">Admin Menu</h1>
      <a (click)="navigate('/organization/users')" data-cy="com-users"><small>Organization</small><br/> Users</a>
      <a (click)="navigate('/organization/account')" data-cy="com-account"><small>Organization</small><br/> Account</a>
    </div>
  </ng-container>
</div>
