.nav-btn {
  font-size: 1.2rem;
  padding: 8px 24px;
  bottom: 4px;
  left: 4px;
  position: fixed;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px 4px;
  margin: 0 16px;
  text-align: center;

  a {
    margin-bottom: 16px;
    padding: 2px;
    font-size: 1.5rem;
  }
}

#logo-text {
  color: var(--primary-color);
  font-weight: 300;
  animation: none;
  padding-left: 12px;
  margin-top: 6px;
}

#admin {
  border-top: 1px solid var(--primary-light);

  #admin-header {
    margin-top: 8px;
    padding-left: 12px;
    font-size: 1.75rem;
    animation: none;
  }
}

#logout {
  margin-top: 16px;
}

.overlay {
  z-index: 50;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  overflow-y: scroll;
  padding-bottom: 60px;
  animation-duration: 0.3s;
  animation-name: menu-slide-up;
}

@keyframes menu-slide-up {
  0% {
    top: 100vh;
  }

  100% {
    top: 0;
  }
}
