<button class="nav-btn btn secondary" (click)="openMenu()">
  {{ menuOpen ? "Close" : "Menu" }}
</button>

@if (menuOpen) {
  <div class="overlay">
    <ng-container>
      <div class="content" id="resident">
        <h1 id="logo-text">{{ appName }}</h1>
        <a (click)="navigate('/')">Home</a>
        <a (click)="navigate('/account')">My Account</a>
      </div>
      @if (isAdmin()) {
        <div class="content" id="admin">
          <h1 id="admin-header">Admin Menu</h1>
          <a (click)="navigate('/organization/users')" data-cy="com-users"
            ><small>Organization</small><br />
            Users</a
          >
          <a (click)="navigate('/organization/account')" data-cy="com-account"
            ><small>Organization</small><br />
            Account</a
          >
        </div>
      }
      <div class="content" id="logout">
        <button class="btn secondary" (click)="logout()">Log Out</button>
      </div>
    </ng-container>
  </div>
}
