<div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="$chars | async as chars" >
    <div fxFlex="50%" class="box" *ngFor="let char of chars">
        <mat-card [ngClass]="{ 'disabled-char': !char.enabled }">
            <mat-card-header>
                <h3>{{char.name}}</h3>
            </mat-card-header>
            <img mat-card-image src="{{char.imgUrl}}" />
            <mat-card-content>
                <div>{{char.description}}</div>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>
</div>