<h1>Account Information</h1>
<ui-page>
  @if (user()!) {
    <ui-card class="holder">
      <div class="user-item row">
        <div class="info-item">
          <h3>Name</h3>
          @if (!nameEdit) {
            <span>{{ user()!!.name }}</span>
          }
          @else {
            <input type="text" [formControl]="name"/>
          }
        </div>
        <button class="btn primary" (click)="editName(user()!.name)">
          {{ nameEdit ? "Save Name" : "Update" }}
        </button>
      </div>
      <div class="user-item row">
        <div class="info-item">
          <h3>Email</h3>
          @if (!emailEdit) {
            <span>{{ user()!.email }}</span>
          }
          @else {
            <input type="email" [formControl]="email"/>
          }
        </div>
        <button class="btn primary" (click)="editEmail(user()!.email)">
          {{ emailEdit ? "Save Email" : "Update" }}
        </button>
      </div>
      <div class="user-item row">
        <div class="info-item">
          <h3>Phone</h3>
          @if (!phoneEdit) {
            <span>{{
              user()!.phone ? (user()!.phone | phone) : "No phone number on file"
            }}</span>
          }
          @else {
            <input type="tel" [formControl]="phone"/>
          }
        </div>
        <button class="btn primary" (click)="editPhone(user()!.phone)">
          {{ phoneEdit ? "Save Phone" : "Update" }}
        </button>
      </div>
    </ui-card>
  } @else {
    <ui-loader
      [message]="'Loading Your Account Information'"
    ></ui-loader>
  }
  <div sideboard>
    <ui-card><p>Maybe put some user specific tips here?</p></ui-card>
  </div>
</ui-page>

