.account-item {
  border-bottom: 1px gainsboro solid;
  padding: 8px 0;
  align-items: center;

  h3 {
    margin: 6px 0;
  }

  .btn {
    font-size: 1rem;
    padding: 4px 6px;
    height: 36px;
    font-weight: 400;
  }

  .info-item {
    flex-grow: 1;
    margin-right: 4px;

    input {
      width: 90%;
    }
  }
}

.account-item:last-of-type {
  border-bottom: unset;
}
