<h1>Account Information</h1>
<ui-page>
  <ui-card class="holder" *ngIf="user$ |async as user; else loading">
    <div class="user-item row">
      <div class="info-item">
        <h3>Name</h3>
        <span>{{ user.userName }}</span>
      </div>
    </div>
  </ui-card>
  <div sideboard>
    <ui-card><p>Mehr gibt es hier nicht zu sehen. Also schön weiter rätseln.</p></ui-card>
  </div>
</ui-page>
<ng-template #loading>
  <ui-loader
    [message]="'Loading Your Account Information'"
  ></ui-loader>
</ng-template>

