<h1>Organization Information</h1>
<ui-page>
  @if (organization()) {
    <ui-card class="holder">
      <div class="organization-item row">
        <div class="info-item">
          <h3>Name</h3>
          @if (!nameEdit) {
            <span>{{ organization()?.name }}</span>
          }
          @else {
            <input type="text" [formControl]="name"/>
          }
        </div>
        <button class="btn primary" (click)="editName()">
          {{ nameEdit ? "Save Name" : "Update" }}
        </button>
      </div>
      <div class="organization-item row">
        <div class="info-item">
          <h3>Created On</h3>
          <span>{{ organization()?.date_created | date: 'longDate'}}</span>
        </div>
      </div>
    </ui-card>
  } @else {
    <ui-loader
      [message]="'Loading Your Organization Information'"
    ></ui-loader>
  }
  <div sideboard>
    <ui-card><p>Maybe put some organization specific tips here?</p></ui-card>
  </div>
</ui-page>

