<div class="row start">
  @if (configs.string == 'image') {
    @for (img of previews; track img) {
      <img
        src="{{ img }}"
        alt="user uploaded image"
        class="preview-img fade-in"
        />
    }
  }
  @else if (configs.string == 'file') {
    @for (fileName of fileNames; track fileName) {
      <div class="row file">
        <div class="input-group column start">
          <label for="title"
            ><strong>Document Name</strong></label
            >
            <input
              id="title"
              type="text"
              [formControl]="documentDisplayName"
              placeholder="Public Facing Name"
              required
          [ngClass]="{
            error: documentDisplayName.invalid && documentDisplayName.touched
          }"
              />
            <span
          [ngClass]="{
            error: documentDisplayName.invalid && documentDisplayName.touched
          }"
              >This field is required</span
              >
            </div>
            <div class="column">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg"
                alt="icon representing a pdf file"
                class="preview-file fade-in"
                />
              <span>{{ fileName }}</span>
            </div>
          </div>
        }
      }
    </div>
    <div class="input-group column">
      <input
        id="images"
        type="file"
        accept="{{ configs.accept }}"
        [multiple]="limit > 1"
        (change)="onFileSelected($event)"
        onclick="this.value = null"
        #fileInput
        style="display: none"
        />
      <div class="btn-bar">
        <button
          (click)="fileInput.click()"
          class="btn mini secondary"
          id="select"
          [disabled]="fileNames.length >= limit"
          >
          Select
          {{ fileNames.length >= limit ? " Limit Reached" : readableTypeString }}
        </button>
        @if (previews.length > 0) {
          <button
            (click)="removeImages()"
            class="btn mini warn"
            id="remove"
            >
            Remove {{ limit > 1 ? "All " + readableTypeString : readableTypeString }}
          </button>
        }
        @if (attached_to && previews.length > 0) {
          <button
            (click)="upload()"
            class="btn mini primary"
            id="upload"
            >
            Save {{ readableTypeString}}
          </button>
        }
      </div>


      <span
        >Max file size is {{ configs.sizeLimit / 1000000 }} MB per
        {{ configs.uploadType }}. {{ limit }} {{ readableTypeString }} per
        upload.</span
        >
        @for (err of fileErrors; track err) {
          <span class="error">{{ err }}</span>
        }
      </div>
