<div class="subheader row">
  <h1>Organization Users</h1>
  <button class="btn mini primary header" (click)="openInvite()">
    {{ inviteOpen ? "Cancel Add New User" : "Add New User" }}
  </button>
</div>

<div *ngIf="inviteOpen">
  <ui-card [border]="true" *ngIf="inviteOpen">
    <h2>Invite a new User via Email</h2>
    <p>
      Enter the email of the person you would like to invite to your
      organization. We will send them an email invite to get them onboarded.
    </p>
    <div class="selector">
      <input
        type="email"
        id="emailInput"
        [formControl]="email"
        required
        placeholder="userEmail@gmail.com"
      />
      <p class="required">This field is required.</p>
    </div>

    <div class="btn-bar">
      <button
        class="btn primary mini admin-add"
        (click)="inviteNewUser()"
        [disabled]="saving"
      >
        Invite New User
      </button>
      <button
        class="btn secondary mini admin-add"
        (click)="goBack()"
        [disabled]="saving"
      >
        Cancel
      </button>
    </div>
  </ui-card>
</div>

<ui-card>
  <p class="warn">{{ adminErrorMessage }}</p>

  <div class="fade-in">
    <div class="user-item row" *ngFor="let user of users">
      <div class="info-item">
        <h3>
          {{ user.name_user }}
        </h3>
        <p class="user-info">Regular User</p>
      </div>
      <button
        class="btn warn mini"
        *ngIf="isAdmin"
        [disabled]="user._id == userId || usersEdit"
        (click)="deleteUser(user)"
      >
        Delete User
      </button>
    </div>
  </div>
</ui-card>
