<div class="page">
  <div class="sign-in-card row">
    <div class="card-content fade-in">
      <div class="header">
        <h1>{{ invite ? "Join" : "Create" }} Your Organization</h1>
      </div>
      @if (invite) {
        <div class="org-display">
          <p>You have been invited to {{ invite.name_organization }}</p>
        </div>
      }

      <form [formGroup]="signup">

        @if (!invite) {
          <div class="input-group column">
            <label for="name">Organization Name</label>
            <input
              type="text"
              id="organization_name"
              formControlName="organization_name"
              placeholder="Acme Inc."
              [ngClass]="{ error: orgError }"
              />
          </div>
        }

        <div class="input-group column">
          <label for="name">Your Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            autocomplete="name"
            placeholder="Wiley Coyote"
            required
            />
        </div>
        <div class="input-group column">
          <label for="email">Your Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            autocomplete="email"
            required
            [ngClass]="{ error: emailError }"
            />
        </div>
        <div class="input-group column">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            autocomplete="new-password"
            required
            [ngClass]="{ error: passwordError }"
            />
        </div>
        <div class="input-group column">
          <label for="passwordConfirm">Confirm Password</label>
          <input
            type="password"
            id="passwordConfirm"
            formControlName="passwordConfirm"
            autocomplete="new-password"
            required
            [ngClass]="{ error: passwordError }"
            />
        </div>
        @if (passwordError) {
          <p class="error">Passwords do not match'</p>
        }
        @if (emailError) {
          <p class="error">
            {{ emailError }}
          </p>
        }
        @if (orgError) {
          <p class="error">
            {{ orgError }}
          </p>
        }
        <button class="btn primary" (click)="attemptSignup()">Signup</button>
      </form>
      <div class="signup-link">
        <a routerLink="/welcome/login">Already Have an Account? Log In.</a>
      </div>
    </div>

  </div>
  <div class="welcome-image fade-in">
    <img
      class="img-hero"
      alt="car on forest road"
      src="https://images.unsplash.com/photo-1685268586501-ae3c3ca67efe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=927&q=80"
      />
  </div>
</div>
