<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Glückwunsch, du hast den falschen verhaftet!</title>
  </head>
    <body>
     <div>
        Dieses Zertifikat bestätigt, das du {{finalGuess}} verhaften wolltest. Glückwunsch, saubere Leistung {{userName}}. Doof nur das diese Person unschuldig war. 
     </div>
     <div style="color: lime; font-size: 5px;">Potius serva documentum tutum, altero anno opus erit</div>
    </body>
</html>