<div class="page">
  <div class="sign-in-card row fade-in">
    <div class="card-content request" *ngIf="status == 'pending'">
      <div class="header">
        <h1>Request a Password Reset</h1>
      </div>
      <p class="fade-in">
        If you have forgotten your password you may enter your email below to
        receive a link to reset it. If your account exists we will send an email
        to the address on file.
      </p>

      <div class="input-group column">
        <label for="email">Your Email</label>
        <input type="email" id="email" [formControl]="email" required />
      </div>
      <button class="btn primary" (click)="generateReset()">
        Send Reset Email
      </button>
      <div class="signup-link column">
        <a routerLink="/welcome/login">Go Back to Login.</a>
        <a routerLink="/welcome/signup">Need An Account? Sign Up Instead.</a>
      </div>
    </div>
    <div *ngIf="status == 'submitted'" class="card-content request fade-in">
      <div class="header">
        <h1>Email on the Way!</h1>
      </div>
      <p>
        If the email provided is associated with an account, a password reset
        email will be sent to it shortly.
      </p>
      <p>Didn't receive an email within 10 minutes?</p>
      <button class="btn primary" (click)="resetForm()">Try Again</button>
    </div>

    <div class="welcome-image login">
      <img
        class="img-hero"
        alt="A photo of a community."
        src="{{ imageUrl }}"
      />
    </div>
  </div>
</div>
